name: CI check

on:
  push:
    branches:
      - master
  pull_request:

jobs: 
  build-flutter-and-test: 
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1 
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        channel: 'beta' 
    - uses: actions-rs/cargo@v1.0.1
    - name: rust prepare
      run: |
        cd rust
        make init
        make test
        make all
    - run: flutter pub get
    # Analyze our Dart code
    - run: flutter analyze
    # Run our tests
    - run: flutter test
    - name: build artifact
      # No iOS now
      run: |
        flutter build aar --no-profile --no-release
    - name: build example
      working-directory: ./example
      # No iOS now
      run: |
        flutter build apk
